.App {
  text-align: center;
}
.Title{
  
  color: blue;
  font-size: 20px;
  font-weight:  bold;
}
.TodoItem>button{
  border: none;
  color: white;
  cursor: pointer;
  margin: 2px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 3px solid red;
  background-color: rgb(160, 0, 0);
}
.TaskBtn{
  font-size: 16px;
  color: black;
  padding: 3px 7px;
  margin: 5px;
}
input{
  font-size: 16px;
  padding: 3px;
}
.TodoItem{
  margin: auto;
  border: 1px solid black;
  display: inline-block;
  margin: 10px;
  text-align: center;
  width: auto;
  padding: 1px 5px;
  justify-content: space-between;
}