.MainDiv{
  display: flex;
  width: 70%;
  margin: auto;
  padding: 5px;
  justify-content: space-around;
}
form{
  width: 30%;
}
input{
  width: 80%;
  padding: 5px;
}
label{
  font-weight: 700;
}

table{
  border-collapse: collapse;
}


tr,th,td{

  border: 2px solid black;
}
#submit{
  color: black;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(100, 196, 100);
  border: 1px solid black;
  border-radius: 5px;
  
  
}
.Center{
  text-align: center;
}
#married{
  font-size: 20px;
}