.App {
  text-align: center;
}
span{
  color: rgb(0, 0, 255);
  font-weight: 800;
  font-size: 40px;
}
button{
  background-color: rgb(0, 184, 184);
  font-size: 25px;
  margin: 5px;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
}